<template>
  <div class="screenshot">
    <div ref="printMe">
      <!-- @slot Use this slot to place the content you want to capture -->
      <slot>Default content</slot>
    </div>
    <div class="btn" :class="position" @click="Capture">
      <!-- @slot Use this slot to place a cutsom capture button -->
      <slot name="btn-capture">
        <div class="cbtn"></div>
      </slot>
    </div>
  </div>
</template>
<script>
import html2canvas from "html2canvas";
export default {
  name: "ScreenShot",
  props: {
    /**
     * The position of the capture button.
     * top right, top left, bottom right, bottom left
     */
    position: {
      type: String,
      default: "bottom right"
    },
    /**
     * Open the result image in another tab.
     */
    targetBlank: {
      type: Boolean
    }
  },
  data() {
    return {};
  },
  methods: {
    Capture() {
      const el = this.$refs.printMe;
      /** Triggered when button is clicked
       * @event captureStarted
       * @type {Event}
       */
      this.$emit("captureStarted");
      const self = this;
      html2canvas(el).then(canvas => {
        const datauri = canvas.toDataURL();
        /** Triggered when capture ends
         * @event captureEnded
         * @type {Event}
         */
        this.$emit("captureEnded", datauri);
        if (this.targetBlank) {
          let w = window.open();
          let image = new Image();
          image.src = datauri;
          w.document.write(image.outerHTML);
        }
      });
    }
  }
};
</script>
<style lang="scss">
.screenshot {
  display: block;
  position: relative;
  min-height: 100px;
  .cbtn {
    width: 35px;
    height: 35px;
    background-image: url("../assets/svg/smartphone.svg");
  }
  .btn {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    &.bottom {
      bottom: 0px;
    }
    &.right {
      right: 5px;
    }
    &.left {
      left: 5px;
    }
    &.top {
      top: 0px;
    }
  }
}
</style>

<docs>

Default positioning

```jsx
<ScreenShot>
  Hey what I really want is to get rid of this div i'm stuck in :-(
</ScreenShot>
```

Bottom left button positionning

```jsx
<ScreenShot position="bottom left">
  Hey what I really want is to get rid of this div i'm stuck in :-(
</ScreenShot>
```

</docs>
