<template>
  <div id="app">
    <ScreenShot ref="sceenCapture" @captureStarted="launchLoader" @captureEnded="showResult" targetBlank>
      <div>Hey I used to be a div having all the height under my control, now I'm stuck here in a poor picture :-(</div>      
    </ScreenShot>
    <img :src="img">
  </div>
</template>

<script>
import ScreenShot from "./components/ScreenShot.vue";

export default {
  name: "app",
  components: {
    ScreenShot
  },
  data() {
    return {
      img: ''
    }
  },
  methods: {
    launchLoader () {
      console.log("Loading ..")
    },
    showResult (res) {
      this.img = res;
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
